<svg width="900" height="256" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Genocide Watch</title>
    <%- include('./partials/gradient.ejs'); %>
    <style>
        .colorBackground {
            fill: url(#gradientBackground);
        }
        .colorTextBackground {
            fill: #<%= colorTextBackground %>;
        }
        .colorLight {
            fill: #<%= colorLight %>;
        }
        .colorText {
            fill: #<%= colorText %>;
        }
        .colorDark {
            fill: #<%= colorDark %>;
        }
        .colorBlood {
            fill: #<%= colorBlood %>;
        }
        <%- include('./partials/fonts.ejs'); %>
    </style>
    <rect x="0" y="0" width="900" height="256" class="colorBackground" />
    <%- include('./partials/keffiyeh.ejs'); %>
    <rect x="188" y="30" width="682" height="196" fill-opacity="0" class="colorTextBackground">
        <animate attributeName="fill-opacity" from="0" to="0.86" begin="1s" dur="1s" fill="freeze"/>
    </rect>
    <text
        x="530"
        y="78"
        text-anchor="middle"
        font-size="26"
        font-family="PlatypiBold"
        fill-opacity="0"
        class="colorText"
    >
        Since October 7, 2023, Israel has <tspan dy="5" font-size="32" font-family="Paint Drops" class="colorBlood">murdered</tspan>
        <animate attributeName="fill-opacity" from="0" to="1" begin="2s" dur="1s" fill="freeze"/>
    </text>
    <text
        id="total-counter"
        x="380"
        y="160"
        text-anchor="middle"
        font-size="66"
        font-family="Paint Drops"
        fill-opacity="0"
        class="colorBlood"
    >
        <%= palestiniansMurdered %>
        <animate attributeName="fill-opacity" from="0" to="1" begin="3s" dur="1s" fill="freeze"/>
    </text>
    <text
        id="children-counter"
        x="680"
        y="160"
        text-anchor="middle"
        font-size="66"
        font-family="Paint Drops"
        fill-opacity="0"
        class="colorBlood"
    >
        <%= palestinianChildrenMurdered %>
        <animate attributeName="fill-opacity" from="0" to="1" begin="3s" dur="1s" fill="freeze"/>
    </text>
    <text
        x="380"
        y="190"
        text-anchor="middle"
        font-size="22"
        font-family="PlatypiBold"
        fill-opacity="0"
        class="colorText"
    >
        Palestinians
        <animate attributeName="fill-opacity" from="0" to="1" begin="3s" dur="1s" fill="freeze"/>
    </text>
    <text
        x="680"
        y="190"
        text-anchor="middle"
        font-size="22"
        font-family="PlatypiBold"
        fill-opacity="0"
        class="colorText"
    >
        Palestinian children
        <animate attributeName="fill-opacity" from="0" to="1" begin="3s" dur="1s" fill="freeze"/>
    </text>
</svg>
